In [1]:
# Import libraries
import pandas as pd
import statsmodels.api as sm
from sklearn.preprocessing import LabelEncoder

# Import the data
df = pd.read_csv('Housing.csv')

# Use .head(10) to verify it imported correctly
df.head(10)

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished
5,10850000,7500,3,3,1,yes,no,yes,no,yes,2,yes,semi-furnished
6,10150000,8580,4,3,4,yes,no,no,no,yes,2,yes,semi-furnished
7,10150000,16200,5,3,2,yes,no,no,no,no,0,no,unfurnished
8,9870000,8100,4,1,2,yes,yes,yes,no,yes,2,yes,furnished
9,9800000,5750,3,2,4,yes,yes,no,no,yes,1,yes,unfurnished

In [2]:
# Check the varaible types to ensure regression will work
# All independent variable types to be integers or floats
df.dtypes

price                int64
area                 int64
bedrooms             int64
bathrooms            int64
stories              int64
mainroad            object
guestroom           object
basement            object
hotwaterheating     object
airconditioning     object
parking              int64
prefarea            object
furnishingstatus    object
dtype: object

In [3]:
#convert categorical values to numerical
le = LabelEncoder()
#df[['col1', 'col2']] = df[['col1', 'col2']].apply(LabelEncoder().fit_transform)

df[['mainroad','guestroom','basement','hotwaterheating','airconditioning','prefarea','furnishingstatus']] = df[['mainroad','guestroom','basement','hotwaterheating','airconditioning','prefarea','furnishingstatus']].apply(LabelEncoder().fit_transform)

In [4]:
df.head(10)

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,0
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,0
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,1
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,0
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,0
5,10850000,7500,3,3,1,1,0,1,0,1,2,1,1
6,10150000,8580,4,3,4,1,0,0,0,1,2,1,1
7,10150000,16200,5,3,2,1,0,0,0,0,0,0,2
8,9870000,8100,4,1,2,1,1,1,0,1,2,1,0
9,9800000,5750,3,2,4,1,1,0,0,1,1,1,2

In [5]:
# Create X and y, start with all possible indepedent variables.
x = df[['area','bedrooms','bathrooms','stories','mainroad','guestroom','basement','hotwaterheating','airconditioning','prefarea','parking','furnishingstatus']]
y = df['price']

In [6]:
# Add constant to X for the regression
x = sm.add_constant(x)
# Fit the regression
model = sm.OLS(y,x).fit()

# Print the model summary
print_model = model.summary()
print(print_model)

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.680
Model:                            OLS   Adj. R-squared:                  0.673
Method:                 Least Squares   F-statistic:                     94.24
Date:                Wed, 04 Oct 2023   Prob (F-statistic):          3.81e-123
Time:                        05:24:24   Log-Likelihood:                -8333.0
No. Observations:                 545   AIC:                         1.669e+04
Df Residuals:                     532   BIC:                         1.675e+04
Df Model:                          12
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
const             1.019e+05   2.62e+05      0.388      0.698   -4.14e+05    6.17e+05
area               243.9069     24.332     10.024      0.000     196.109     291.705
bedrooms          1.195e+05   7.27e+04      1.644      0.101   -2.33e+04    2.62e+05
bathrooms         9.889e+05   1.04e+05      9.551      0.000    7.85e+05    1.19e+06
stories           4.504e+05   6.43e+04      7.006      0.000    3.24e+05    5.77e+05
mainroad          4.231e+05   1.42e+05      2.970      0.003    1.43e+05    7.03e+05
guestroom          2.98e+05   1.32e+05      2.259      0.024    3.89e+04    5.57e+05
basement          3.579e+05    1.1e+05      3.243      0.001    1.41e+05    5.75e+05
hotwaterheating   8.729e+05   2.23e+05      3.909      0.000    4.34e+05    1.31e+06
airconditioning   8.536e+05   1.08e+05      7.879      0.000    6.41e+05    1.07e+06
prefarea          6.471e+05   1.16e+05      5.585      0.000    4.19e+05    8.75e+05
parking           2.798e+05   5.86e+04      4.774      0.000    1.65e+05    3.95e+05
furnishingstatus -2.132e+05   6.31e+04     -3.381      0.001   -3.37e+05   -8.93e+04
==============================================================================
Omnibus:                       94.906   Durbin-Watson:                   1.209
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              247.728
Skew:                           0.872   Prob(JB):                     1.61e-54
Kurtosis:                       5.805   Cond. No.                     3.37e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.37e+04. This might indicate that there are
strong multicollinearity or other numerical problems.